body{
    background-image: url(./eberhard-grossgasteiger-S-2Ukb_VqpA-unsplash.jpg);
}
#Box{
    margin-left: 60px;
}
#Title{
    text-align: center;
    color: white;
    font-family: Verdana;
    margin-top: 50px;
    font-weight: 5000;
    font-size: large;
}

#Left{
    border: solid none;
    border-radius: 12px 0px 12px 0px;
    width: 200px;
    height: 280px;
    margin-left: 280px;
    margin-top: 110px;
}
#LeftTop{
    width: 199px;
    height: 120px;
    background-color: white;
    border-radius: 12px 0px 0px 0px;
    /* display: inline; */
}
#LeftBottom{
    width: 199.6px;
    height: 160.45px;
    background-color: lightgreen;
    border-radius: 0px 0px 0px 12px;
    padding-left: 10px;
    font-size: small;
}
#Center{
    border: solid none;
    box-shadow: 0px 0px 4px 3px grey;
    border-radius: 12px 12px 12px 12px;
    width: 200px;
    height: 320px;
    margin-top: -300px;
    margin-left: 450px;
    background-color: violet;
    position: absolute;
}
#CenterTop{
    width: 199.8px;
    height: 140px;
    border-radius: 12px 12px 0px 0px;
    background-color: white;
    text-align: center;
    color: violet;
    
}
#Right{
    border: solid none;
    border-radius: 0px 12px 12px 0px;
    width: 185px;
    height: 280px;
    background-color: yellow;
    margin-top: -280px;
    margin-left: 650px;
    position: absolute;
}
#RightTop{
    width: 185px;
    height: 120px;
    border: solid none;
    border-radius: 0px 12px 0px 0px;
    background-color: white;
}
#LeftTop1{
    color: lightgreen;
    font-weight: bold;
    margin-left: 67px;
    font-size: 32px;
}
#LeftTop2{
    color: black;
    margin-left: 60px;
}
#BasicHead{
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
#Basic{
    font-size: small;
    color: white;
}
#Choose1{
    text-align: center;
    border: solid none;
    border-radius: 25px;
    padding: 4px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 5px;
    background-color: white;
    color: lightgreen;
    box-shadow: 0px 2px 0px 0px grey;
}
#Righttop1{
    color: yellow;
    font-weight: bold;
    font-size: 32px;
    padding: 65px;
}
#Righttop2{
    color: black;
    padding: 57px;
}
#RightBottom{
    padding-left: 10px;
}
#CenterBottom{
    margin-left: 15px;
    div{
        margin-top: 15px;
    }
}
#CenterTop1{
    color: violet;
    font-weight: bold;
    font-size: 34px;
}
#CenterTop2{
    color: black;
}
.Choose2{
    width: 125px;
}